html, body {
	font-weight: bold;
	font-size: 25px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}


#render {
	display: inline-block;
}

.absolute {
	position: absolute;
	top: 50%;
}


.left {
	border-radius: 40px 10px 10px 40px;
}

.right {
	border-radius: 10px 40px 40px 10px;
	right: 0%;
}

.height {
	height: 75px;
}

.bottom {
    position: fixed;
    bottom: 0;
}

.btn {
	border: 2px solid black;
	margin-top: 2px;
	font-weight: bold;
	font-size: 25px;
}

.customFont {
	font-weight: bold;
	font-size: 25px;
}

select {
	text-align-last: center;
	
}

select option {
	text-align-last: center;
}

.circle {
	
	border: 2px solid black;
}
.arrow {
	display: none;
}

#failure {
	display: none;
	color: green;
}